:root {
	/* Colors */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 55%);
	--very-dark-gray: hsl(0, 0%, 41%);
	/* Layout */
	/* - Mobile: 375px */
	/* - Desktop: 1440px */
	/* Fonts */
	--ff-alata: 'Alata', sans-serif;
	--ff-josefin: 'Josefin Sans', sans-serif;
	/* font-size: 15px */
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html * {
	font-family: var(--ff-alata);
	font-size: 15px;
}

body {
	margin: 0;
}
/* Delete img after finishing */
img {
	width: 100%;
}
.landing-page {
	width: 375px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.inactive {
	display: none;
}
.header {
	width: 375px;
	height: 650px;
	color: var(--white);
	background-image: url('./images/mobile/image-hero.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}
/* Navbar */
.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 24px 0;
}
.navbar-logo {
	width: 142px;
	height: auto;
}

.mobile-menu-icon {
	width: 24px;
	height: 15px;
}
.navbar-menu {
	display: none;
}

.navbar-slogan {
	border: 2px solid var(--white);
	align-self: center;
	margin: 162px 24px 0;
	padding: 20px;
	font-family: var(--ff-josefin);
	font-size: 40px;
	text-transform: uppercase;
}
/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
}
